.header--height{
    height: 80px;
}
.content--height{
    height: 1000px;
}
.slide--image{
    background-image: url(https://picsum.photos/g/800/300);
    background-position: center;
    background-repeat: no-repeat;
}
.slide--height{
    height: 300px;
}
.typicalprouduct--height{
    height: 400px;
}
.footer--height{
    height: 100px;
}